.banner {
    background: var(--blue-gradient);
    color: var(--white);
    text-align: center;
    padding: 2.5em 2em;
}

.banner__title {
    font-size: 1.12em;
    font-weight: 700;
}

.banner__paragraph {
    font-weight: 500;
    margin: 1em 0;
}

.banner__search {
    background-color: transparent;
    border: 1px solid var(--white);
    color: var(--white);
    border-radius: 24px;
    padding: 1em;
    width: 100%;
}

.banner__search::placeholder {
    font-family: var(--main-font);
    font-size: 0.8rem;
    font-weight: 400;
    text-align: center;
    color: var(--white);
    background: url("/image/vector.svg") no-repeat;
}

@media screen and (min-width: 1024px) {
    .banner__title {
        font-size: 36px;
    }

    .banner__search {
        width: 50%;
    }

    .banner__search::placeholder {
        background-position: 7em;
    }
}



